<section id="banner">
    <h2>Aviasales</h2>
    <p>Travel easily and freely with us and our tickets</p>
    <ul class="actions special">
        <li><a asp-area="" asp-action="Register" asp-controller="Account" class="button primary">Sign Up</a></li>
    </ul>
</section>