<div class="modal-content" align="center">
    <div class="modal-header">
        <h4>You already have that ticket!</h4>
    </div>
    <div class="form-group">
        <a asp-area="" asp-action="ShowActiveTickets_OfUser" asp-controller="Ticket" class="button">Back</a>
    </div>
</div>

