@model WebTicketBooking.Models.Account.UpdatePasswordModel

@{
    ViewData["Title"] = "Update password";
}

<h1 align="center"><b>Update password</b></h1>

<div>
    <form asp-action="UpdatePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <font color="red">
            @TempData["failPassword"]
        </font>
        <br />
        <div class="form-group">
            <label asp-for="OldPassword" class="control-label">Old password</label>
            <font color="red">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </font>
            <input asp-for="OldPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">New password</label>
            <font color="red">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </font>
            <input asp-for="NewPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label">Confirm new password</label>
            <font color="red">
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </font>
            <input asp-for="ConfirmNewPassword" class="form-control" />
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
