@model WebTicketBooking.Models.Account.UpdateUserNameModel

@{
    ViewData["Title"] = "Update username";
}

<h1 align="center"><b>Update username</b></h1>
<div>
    <form asp-action="UpdateUser" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="NewUserName" class="control-label">New username</label>

            <font color="red">
                @TempData["failUsername"]
                <span asp-validation-for="NewUserName" class="text-danger"></span>
            </font>
            <input asp-for="NewUserName" class="form-control" />
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
